.sales-summary {
  max-width: 800px;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
}

.sales-summary h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sales-summary table {
  width: 100%;
  border-collapse: collapse;
}

.sales-summary th,
.sales-summary td {
  padding: 12px 15px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.sales-summary th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.sales-summary tr:nth-child(even) {
  background-color: #f9f9f9;
}

.sales-summary tr:hover {
  background-color: #b5e7fcc4;
}
